<footer>
    <div class="container flex content-between">
        <div>
            <h3>COMPANY</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div>
            <h3>SERVICES</h3>
            <ul>
                <li><a href="#">Software Development</a></li>
                <li><a href="#">ICT Training</a></li>
                <li><a href="#">Managed Solution</a></li>
            </ul>
        </div>
        <div>
            <h3>ON SOCIAL</h3>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Linkedin</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
        <div>
            <h3>ADDRESS</h3>
            <ul>
                <li><a href="#">hello@rapiditeration.com</a></li>
                <li><a href="#">Vancouver, BC</a></li>
                <li><a href="#">+1 778 512 09 00</a></li>
            </ul>
        </div>
    </div>
    <div class="copy">
        <p class="fs-1rem">&copy; 2024 RapidIteration. All rights reserved</p>
    </div>
</footer>