<header>
    <nav>
        <div class="nav-menu flex align-center">
            <div class="logo">
                <a href="/">
                    <img src="assets/rapid-iteration-icon-logo.svg" alt="">
                </a>
            </div>
            <ul class="flex align-center">
                <li class="nav-item"><a href="./company.html">Company</a></li>
                <li class="nav-item"><a href="./services.html">Services</a></li>
                <li class="nav-item"><a href="./blog.html">Blog</a></li>
            </ul>
        </div>

        <div>
            <a href="#" class="btn">Contact us</a>
        </div>
    </nav>
</header>