<div class="container work-together">
    <div class="w-40 text-center m-auto work-container">
        <h1 class="title">Let’s work together</h1>
        <p>Have a brilliant idea for a product? You are in the right place.</p>
        <div class="input-container flex ">
            <input type="text" placeholder="Your Email Address">
            <button class="btn">Subscribe</button>
        </div>
        <div class="priv-pol">
            <input type="checkbox">
            <p class="fs-1rem">
                Are you agree with 
                <a href="#" class="text-orange">privacy policy?</a>
            </p>
        </div>
    </div>
</div>