@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;

}

/*  START
    Repeating CSS code 
*/

.flex {
    display: flex;
}

.content-between {
    justify-content: space-between;
}

.content-around {
    justify-content: space-around;
}

.align-center {
    align-items: center
}

.col {
    flex-direction: column;
}

.reverse {
    flex-direction: row-reverse;
}

.w-40 {
    max-width: 40rem;
}

.text-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.fs-1rem {
    font-size: 1rem;
}

/* END */

body {
    background-color: #fffbfb;
    color: #697587;
}

main {
    margin-top: 80px;
}

header {
    box-shadow: 0 0 8px #697587;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fffbfb;
    z-index: 99;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1.75em;
}


.nav-item {
    text-transform: uppercase;
    margin-left: 2em;
}

a {
    color: #697587;
    text-decoration: none;
}

.nav-item a:hover,
.text-orange {
    color: #ec7a49;
}

.logo {
    width: 40px;
    display: inline-block;
}

.logo a img {
    margin-top: 5px;
}

.btn {
    background-color: #ec7a49;
    color: #fffbfb;
    border-radius: 8px;
    padding: 10px 20px;
    border: none;
}

.container {
    padding: 7rem 1.75rem;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

.info {
    max-width: 32rem;
}

p {
    font-size: 1.25rem;
    margin-bottom: 2em;
}

.title {
    font-family: 'Suez One', serif;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0.75em;
}

h1, h2, h3 {
    color: #1a2026;
}

.state {
    display: flex;
    justify-content: space-between;
    max-width: min(800px, 100%);
    text-align: center;
    margin: auto;
}

.state div {
    padding: 2em;
}

.state h1 {
    font-size: 3rem;
    font-weight: 400;
}

.state p {
    font-size: 1rem;
    margin-top: 0;
}

.product {
    margin-top: 3em;
}

main a {
    color: #697587;
    text-decoration: none;
    font-size: 1.25rem;
}

a.text-orange,
a.btn {
    font-size: 1rem;
}

.members {
    flex-wrap: wrap;
    gap: 4rem;
}

.member-pic {
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition: all .3s ease;
}

.member-pic:hover {
    filter: none;
}

h3,
.member-pic,
.member-info p {
    margin-bottom: 1.25em;
}

.member-contact a {
    margin: 0 .5em;
}

.work-together {
    background-color: #f3f4f6;
}

.work-container {
    padding: 0 3rem;
}

.input-container {
    width: 100%;
    background-color: #ffffff;
    padding: 0.5em;
    height: 4rem;
    border-radius: 0.5em;
}

.input-container input {
    font-size: 1.1rem;
    flex-grow: 1;
    border: none;
    padding-left: 0.8em;
}

.input-container input:active,
.input-container input:focus {
    border: none;
    outline: none;
}

.input-container button {
    font-size: 1rem;
}

.priv-pol {
    margin-top: 0.8em;
}

.priv-pol input {
    width: 15px;
    height: 15px;
    margin: 0 0.8em;
}

.work-container p.fs-1rem {
    display: inline-block;
}

.partial {
    width: 100%;
}

ul {
    list-style-type: none;
}

footer li {
    margin-bottom: 1.5em;
}

.copy {
    padding: 0 1.5rem;
}